@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Helvetica';
    src: url('../public/fonts/Helvetica.ttf');
}


body {
    background-color: #181623;
    font-family: 'Helvetica';
}

.bg-linear-gradient {
    background: linear-gradient(180deg, #11101A 0%, rgba(71, 71, 71, 0) 30%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(90deg, #11101A 0%, rgba(71, 71, 71, 0) 30%, rgba(17, 16, 26, 0) 40%, rgba(0, 0, 0, 0) 100%);
}

.toast-position {
    top: 7rem !important;
    margin-right: 10rem ;
}

@media only screen and (max-width: 680px) {
    .toast-position {
        margin-left: 1rem;
        left: 1rem;
        right: 5rem;

    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}
